services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
      - DEBUG=0
  frontend:
    build: ./frontend/app
    ports:
      - "80:80"
    depends_on:
      - backend
