# ============================================================================
# Python
# ============================================================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# 가상환경
venv/
env/
ENV/
.venv
build/

# ============================================================================
# Django
# ============================================================================

# 데이터베이스
*.sqlite3
db.sqlite3
db.sqlite3-journal

.env
