name: Backend CD

on:
  push:
    branches: [ "dev" ]
    paths:
      - 'backend/**'  # Only trigger if backend folder changes
      - '.github/workflows/deploy-backend.yml'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to Azure Container Registry
      uses: docker/login-action@v2
      with:
        registry: koreancodeforcesregistry.azurecr.io
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}

    - name: Build and Push Docker image
      uses: docker/build-push-action@v4
      with:
        context: ./backend
        push: true
        tags: koreancodeforcesregistry.azurecr.io/backend:latest
