name: Deploy to Azure VM

on:
  push:
    branches: [ "dev" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VM via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.AZURE_VM_HOST }}
          username: ${{ secrets.AZURE_VM_USERNAME }}
          key: ${{ secrets.AZURE_VM_KEY }}
          port: 22
          script: |
            cd ~/Korean-codefoce
            git fetch --all
            git reset --hard origin/dev
            docker compose down
            docker compose up -d --build
